$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//fonts
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

$navcolor: #BB1F3C;

@-webkit-keyframes bounce-animation {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce-animation {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.NavbarContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .navbar-inverse .navbar-brand  {
        font-family: Lobster;
        font-size: 200%;
        color: #fff;
    }
    
    .navbar {
        border-radius: 0;
        margin-bottom: 0;
        
        .navbar-form {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .navigation-tabs {
        background-color: $navcolor;

        ul {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            
            li {
                display: inline-block;
                flex-grow: 1;
                text-align: center;
                
                &.active {
                    background-color: #DA2749;
                }
                
                a {
                    display: block;
                    color: #fff;
                    padding: 10px;
                }
            }
        }
    }
}

.ViewContainer {
    padding-top: 92px;
}

.btn {
    font-family: Lobster;
}

.RegisterForm {
    margin-bottom: 30px;
}

.main-view {
    .jumbotron {
        margin-bottom: 0;

        &.sticky {
            position: fixed;
            top: 92px;
            width: 100%;
            padding: 30px 0;
        }

        .container h1{
        font-family: Lobster;
        text-align: center;
        font-size: 300%;
        }
    }
    
    .contentContainer {
        margin-top: 136px;

        .TopHeader{
            text-align: center;
            font-family: "Indie Flower";
        }

        .introduction {
            font-family: Montserrat;
            text-align: center;
        }

        .BottomHeader {
            text-align: center;
            font-size: 200%;
            font-family: "Gloria Hallelujah";
        }
    }

    .DownArrowContainer {
        text-align: center;
        margin: 30px;

        .DownArrow {
            font-size: 300%;
            color: #DA2749;
            -webkit-animation: bounce-animation 1.5s ease-in-out infinite;
            animation: bounce-animation 1.5s ease-in-out infinite;
        }
    }
}


.upload-view {
    input {
        margin: 0.5em;
    }

    .row > div {
        line-height: 40px;
    }

    .row > div > input {
        height: 26px;
        line-height: 24px;
    }    
}

.photo-list-view {
    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .image-holder {
            position: relative;
            width: 30.6%;
            margin: 1%;
            border-radius: 5px;
            background-size: cover;
            
            &:before {
                content: "";
                width: 100%;
                padding-top: 100%;
                display: block;
            }
            
            a {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                
                h3 {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    margin: 0;
                    padding: 10px;
                    background-color: rgba(255,255,255,0.5);
                    font-size: 100%;
                    color: #555;
                }
            }
        }
    }
}
