$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$navcolor: #BB1F3C;

.navbar {
    margin-bottom: 0;
}

.navigation-tabs {
    background-color: $navcolor;

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        
        li {
            display: inline-block;
            flex-grow: 1;
            text-align: center;
            
            &.active {
                background-color: #DA2749;
            }
            
            a {
                display: block;
                color: #fff;
                padding: 10px;
            }
        }
    }
}

.upload-view {
    input {
        margin: 0.5em;
    }

    .row > div {
        line-height: 40px;
    }

    .row > div > input {
        height: 26px;
        line-height: 24px;
    }    
}

.photo-list-view {
    .image-container {
        display: flex;
        flex-wrap: wrap;
        
        .image-holder {
            position: relative;
            width: 50%;
            background-size: cover;
            
            &:before {
                content: "";
                width: 100%;
                padding-top: 100%;
                display: block;
            }
            
            a {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                
                h3 {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    margin: 0;
                    padding: 10px;
                    background-color: rgba(255,255,255,0.5);
                    font-size: 100%;
                    color: #555;
                }
            }
        }
    }
}
