<!doctype html>
<html ng-app="mobileWebApp">

<head>
    <meta charset="utf-8">
    <title>Team ABC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body>

    <div id="successfullRegistrationModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="OkSign glyphicon glyphicon-ok"></span>
                    <p>Registration successful!</p>
                    <button class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="failedRegistrationModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="FailedSign glyphicon glyphicon-remove"></span>
                    <p class="error-msg"></p>
                    <button class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="successfullLoginModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="OkSign glyphicon glyphicon-ok"></span>
                    <p>Login successful!</p>
                    <button class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="failedLoginModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="FailedSign glyphicon glyphicon-remove"></span>
                    <p class="error-msg"></p>
                    <button class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="NavbarContainer" ng-controller="NavbarController">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- hamburger seen on mobile-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span ng-if="!userData">Login</span>
                    <span ng-if="userData" class="glyphicon glyphicon-user"></span>
                </button>
                <!-- title -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">Team ABC</a>
                </div>
                <div id="navbar" class="navbar-form navbar-right navbar-collapse collapse">
                    <!-- login signup -->
                    <div ng-if="!userData">
                        <login-form></login-form>
                    </div>
                    <!-- user info -->
                    <ul ng-if="userData" class="nav navbar-nav">
                        <li>{{userData.username}}</li>
                        <li>{{userData.email}}</li>
                        <li><button class="btn btn-danger" ng-click="signOut()">Sign out</button></li>
                    </ul>
                </div>

            </div>
        </nav>

        <nav class="navigation-tabs">
            <ul>
                <li ng-class="active('main')">
                    <a href="#/"><span class="glyphicon glyphicon-home"></span></a>
                </li>
                <li ng-class="active('video')">
                    <a href="#/video"><span class="glyphicon glyphicon-film"></span></a>
                </li>
                <li ng-class="active('music')">
                    <a href="#/music"><span class="glyphicon glyphicon-headphones"></span></a>
                </li>
                <li ng-class="active('photo')">
                    <a href="#/photo"><span class="glyphicon glyphicon-picture"></span></a>
                </li>
                <li ng-class="active('upload')">
                    <a href="#/upload"><span class="glyphicon glyphicon-cloud-upload"></span></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="ViewContainer" ng-view></div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->

    <script src="scripts/app.js"></script>

    <!--  Services-->
    <script src="scripts/services/ajaxFactory.js"></script>
    <script src="scripts/services/mediaService.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/upload.js"></script>
    <script src="scripts/controllers/navbar.js"></script>
    <script src="scripts/controllers/video-list.js"></script>
    <script src="scripts/controllers/video-file.js"></script>
    <script src="scripts/controllers/music-list.js"></script>
    <script src="scripts/controllers/music-file.js"></script>
    <script src="scripts/controllers/photo-list.js"></script>
    <script src="scripts/controllers/photo-file.js"></script>
    <script src="scripts/controllers/comments.js"></script>
    <script src="scripts/controllers/likes.js"></script>
    <script src="scripts/controllers/registerController.js"></script>
    <script src="scripts/controllers/loginController.js"></script>
    <script src="scripts/directive/registerForm.js"></script>
    <script src="scripts/directive/loginForm.js"></script>
    <!-- endbuild -->
</body>

</html>