<div class="main-view">
    <div class="jumbotron sticky">
        <div class="container">
            <h1> Welcome! </h1>
        </div>
    </div>


    <div ng-if="!userData" class="container contentContainer" id="topContainer">

        <h1 class="TopHeader">Our Web App</h1>

        <p class="introduction">See what your classmates have shared.</p>

        <p class="introduction">You can see all the images, audios and videos uploaded by your fellow students from ICT14_M. </p>

        <p class="BottomHeader">Interested? <br> Swipe up to join us!</p>

        <div class="DownArrowContainer">
            <span class="DownArrow glyphicon glyphicon-hand-down"></span>
        </div>

        <register-form></register-form>

    </div>
</div>
