<div class="jumbotron">
    <div class="container">
        <h1> ABC's</h1>
    </div>
</div>


<div class="container contentContainer" id="topContainer">

    <div class="row">

        <div class="col-md-6 col-md-offset-3" id="topRow">

            <h1 class="marginTop">Our Awesome App</h1>

            <p class="lead">See what your classmates have shared</p>

            <p>You can see all the images, audios and all the videos shared by fellow students from ICT14_M. </p>

            <p class="bold marginTop">Interested? Join our here!</p>

            <form class="navbar-form navbar-right" id="loginForm" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <input input name="username" type="text" ng-model="uname" class="form-control" />
                </div>
                <div class="form-group">
                    <input name='password' ng-model='pwd' type="text" placeholder="Password" class="form-control" />
                </div>
                <button ng-click="login()" type="submit" class="btn btn-success btn-sm">Log In</button>
            </form>



            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Sign Up</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <div ng-controller="RegisterController">
                                <register-form></register-form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>


    </div>