<div class="photo-list-view">

    <div class="image-container">
        <div ng-repeat="image in images" class="image-holder" style="background-image: url('{{ mediaPath+ image.path }}')">
            <a ng-href='#/photo/{{ image.fileId }}'>
                <h3>{{image.title}}</h3>
            </a>
        </div>
    </div>
    
    <!-- div class="row">
        <table class="table table-striped table-bordered table-hover">

            <tr ng-repeat="image in images">
                <td>
                    <a ng-href='#/photo/{{ image.fileId }}'>
                        <img ng-src="{{ mediaPath+ image.path }}" alt="{{ image.title }}" height="auto" width="100%">
                    </a>
                    <h3>{{image.title}}</h3>
                </td>
            </tr>

        </table>
    </div -->

</div>