<div class="photo-file-view">
    <div align="center">
        <img ng-if="image" style="max-width: 100%" ng-src="{{ mediaPath + image.path | trusted }}">
    </div>

    <div class="container">
        <h2> {{ image.title }} </h2>
        <h4> {{user.username}} </h4>

        <span style="padding-left:10px" class="glyphicon glyphicon-thumbs-up"> {{ likes }} Like 
            <span style="padding-left:10px" class="glyphicon glyphicon-thumbs-down"> Dislike
            </span>
        </span>

        <comments id="fileId"></comments>

    <div>
</div>