<div class="container upload-view">
    <!-- Add your site or application content here -->
    <div class="row">
        <div class="col-xs-12">

            <form id="fileForm">
                <input name="file" type="file" onchange="angular.element(this).scope().setMediaFile(this)">
                <input name="title" type="text" ng-model="name" ng-init="name='no name'">
                <input name="description" type="text" ng-model="desc" ng-init="desc='no description'">
                <div class="row">
                    <div class="col-xs-6">
                        <canvas id="myCanvas" style="width: 100%;">
                            <!-- Insert fallback content here -->
                        </canvas>
                        <button ng-click="sendImage()">Upload</button>

                    </div>
                </div>
            </form>

        </div>
        <div class="col-xs-6">
            <h3>Brightness / Contrast</h3>
            <div class="row">
                <div class="col-xs-3">
                    Brighness&nbsp;-/+
                </div>
                <div class="col-xs-8">
                    <input type="range" ng-model="brightness" ng-change="applyFilters()" step="1" min="-255" max="255">
                </div>
                <div class="col-xs-1">
                    <input type="text" size="4" ng-model="brightness" ng-change="applyFilters()">
                </div>
            </div>

            <div class="row" ng-hide="autocontrast">
                <div class="col-xs-3">
                    Contrast&nbsp;-/+
                </div>
                <div class="col-xs-8">
                    <input type="range" ng-model="contrast" ng-change="applyFilters()" step="0.1" min="0" max="10">
                </div>
                <div class="col-xs-1">
                    <input type="text" size="4" ng-model="contrast" ng-change="applyFilters()">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    Autocontrast on/off
                </div>
                <div class="col-xs-8">
                    <input type="checkbox" ng-model="autocontrast">
                </div>
            </div>

            <h3>Color filter <span ng-attr-style="background-color: rgb({{color.red}},{{color.green}},{{color.blue}}); border: 1px solid #333; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h3>

            <div class="row">
                <div class="col-xs-1">
                    R
                </div>
                <div class="col-xs-10">
                    <input type="range" ng-model="color.red" min="0" max="255" ng-change="applyFilters()">
                </div>
                <div class="col-xs-1">
                    <input type="text" size="4" ng-model="color.red" ng-change="applyFilters()">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    G
                </div>
                <div class="col-xs-10">
                    <input type="range" ng-model="color.green" step="1" min="0" max="255" ng-change="applyFilters()">
                </div>
                <div class="col-xs-1">
                    <input type="text" size="4" ng-model="color.green" ng-change="applyFilters()">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1">
                    B
                </div>
                <div class="col-xs-10">
                    <input type="range" ng-model="color.blue" step="1" min="0" max="255" ng-change="applyFilters()">
                </div>
                <div class="col-xs-1">
                    <input type="text" size="4" ng-model="color.blue" ng-change="applyFilters()">
                </div>
            </div>


            <div class="row">
                <div class="col-xs-2">
                    Strength
                </div>
                <div class="col-xs-9">
                    <input type="range" ng-model="strength" step="1" min="1" max="100" ng-change="applyFilters()">
                </div>
                <div class="col-xs-1">
                    <input type="text" size="4" ng-model="strength" ng-change="applyFilters()">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    Vignette on/off
                </div>
                <div class="col-xs-8">
                    <input type="checkbox" ng-model="vignette" ng-change="applyFilters()">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-default" ng-href="{{ url }}" download="edited" ng-click="saveImage()">Save image</a>
                </div>
            </div>
        </div>
    </div>

</div>