<div class="video-file-view">
    <video style="max-width: 100%" controls ng-if="video">
        <source ng-src="{{mediaPath + video.path | trusted}}" type="{{video.mimeType}}">
    </video>

    <div class="container">
        <h2> {{ video.title }} </h2>
        <h4> {{user.username}} </h4>

        <span style="padding-left:10px" class="glyphicon glyphicon-thumbs-up"> {{ likes }} Like 
        </span>
        <span style="padding-left:10px" class="glyphicon glyphicon-thumbs-down"> Dislike
        </span>

        <comments id="fileId"></comments>
    </div>

</div>
